.ezdoc-wpcf7-form-tag-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.ezdoc-wpcf7-form-tag-table th {
  padding: 8px;
  background-color: #ddd;
  border: 1px solid black;
}

.ezdoc-wpcf7-form-tag-table td {
  padding: 8px;
  border: 1px solid black;
}